@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 11%;

    --muted: 0 0% 96%;
    --muted-foreground: 215 0% 46%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;

    --border: 0 0% 91%;
    --input: 0 0% 91%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;

    --primary: 0 0% 11%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 11%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 11%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 40% 98%;

    --ring: 0 20% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 91%;

    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 56.9%;

    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 65.1%;

    --border: 0 0% 17%;
    --input: 0 0% 17%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 91%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 1.2%;

    --secondary: 0 0% 11.2%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 0% 31%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
